body {
    background-color: #9DD9D2;
}

.intro {
    margin-top: 140px;
}

.title {
    font-family: 'oswald', serif;
}

.section {
    font-family: 'Libre Baskerville', serif;
}

.space {
    margin: 25px;
}

.customer {
    width: 100px;
    height: 100px;
}

.jumbo-img {
    background-image: url("assets/images/flag.jpg");
}